---
permalink: /
layout: archive
title: "About me"
excerpt: "About me"
author_profile: true
redirect_from:
  - /about/
  - /about.html
---

I am a fourth-year Ph.D. student in the <a href="https://idss.mit.edu/">Institute for Data, Systems, and Society (IDSS)</a> at Massachusetts Institute of Technology (MIT), advised by <a href="https://jadbabaie.mit.edu/">Professor Ali Jadbabaie</a>. 
I am affilated with the <a href="https://lids.mit.edu/">Laboratory for Information and Decision Systems (LIDS)</a>. 
I am interested in dynamical systems, networks, and machine learning on graphs.

<br><br>

Prior to coming to MIT, I was an undergraduate student at Washington University in St. Louis. I completed my senior thesis on quantum graphs with <a href="https://www.math.wustl.edu/~feres/">Professor Renato Feres</a>.



<br><br>

Please feel free to email me (xinyiwu [at] mit [dot] edu) if you want to chat about research or collaborate.

<p>&nbsp;</p>

<h1> News </h1>

<!-- <ul>
  <li>October 11, 2022</li>


  <li>Item 2</li>
  <li>Item 3</li>
</ul> -->

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.publications %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include news.html %}
{% endfor %}

<div style="display: none;">
  <h6>Page views:</h6>
  <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=8050458&style=0030&nbdigits=5&type=page&initCount=0" title="Total Website Hits" Alt="web counter" border="0" /></a>
  <h6>Unique visitors:</h6>
  <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=8050459&style=0030&nbdigits=5&type=ip&initCount=0" title="Total Website Hits" Alt="web counter" border="0" /></a>
</div>
